*, *::after, *::before {
    box-sizing: border-box;
  }
  
  :root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
  }


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
	--size: 120px;
	--font-size: 4rem;
}

body {
  margin: 0;
	box-sizing: border-box;
	--background: #fdfdfd;
	min-height: 100vh;
	background: var(--background);
	font-family: "Poppins", sans-serif;
}

.imageGif img{
display: flex;
width: 100px;
height: 100px;
}


.name {
	display: flex;
  flex-direction: row;
  justify-content: Center;
}

.name .cosmic {
	position: relative;
	cursor: pointer;
	height: var(--size);
	display: flex;
	justify-content: center;
	align-items: center;
  

	span {
		font-size: var(--font-size);
		font-weight: 700;
		-webkit-text-stroke: 2px var(--color);
		color: transparent;
		transition: 0.5s;
	}

	&:hover span {
		opacity: 0;
	}
}

.name .cosmic {
	&::before {
		content: attr(data-text);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		font-size: var(--font-size);
		height: 0;
		font-weight: 700;
		overflow: hidden;
		transition: 0.6s ease-in-out;
		text-align: center;
		line-height: var(--size);
		color: var(--color);
	}
	&:hover::before {
		height: 100%;
		filter: drop-shadow(0 0 2rem var(--color));
	}
}
.game{
  display: flex;
  background:url('../images/ia_game_img.png')center center no-repeat;
  background-size: cover;
  height: 500px;
}

  .board {
    background-color: rgb(243, 245, 248);
    width: 300px;
    height: 300px;
    margin-left: 620px;
    margin-top: 100px;
    padding: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto)
  }
  
  .cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .cell:first-child,
  .cell:nth-child(2),
  .cell:nth-child(3) {
    border-top: none;
  }
  
  .cell:nth-child(3n + 1) {
    border-left: none;
  }
  
  .cell:nth-child(3n + 3) {
    border-right: none;
  }
  
  .cell:last-child,
  .cell:nth-child(8),
  .cell:nth-child(7) {
    border-bottom: none;
  }
  
  .cell.x,
  .cell.circle {
    cursor: not-allowed;
  }
  
  .cell.x::before,
  .cell.x::after,
  .cell.circle::before {
    background-color: black;
  }
  
  .board.x .cell:not(.x):not(.circle):hover::before,
  .board.x .cell:not(.x):not(.circle):hover::after,
  .board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: lightgrey;
  }
  
  .cell.x::before,
  .cell.x::after,
  .board.x .cell:not(.x):not(.circle):hover::before,
  .board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: red;
  }
  
  .cell.x::before,
  .board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
  }
  
  .cell.x::after,
  .board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
  }
  
  .cell.circle::before,
  .cell.circle::after,
  .board.circle .cell:not(.x):not(.circle):hover::before,
  .board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
  }
  
  .cell.circle::before,
  .board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
  }
  
  .cell.circle::after,
  .board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: white;
  }
  
  .winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
  }
  
  .winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
  }
  
  .winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
  }
  
  .winning-message.show {
    display: flex;
  }

  footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
    font-size: 7px;
    color: rgb(188, 180, 180);
  }

